.nav-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.nav-block {
  margin: 8px;
  margin-bottom: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: solid #111 2px;
  width: 192px;
  height: 64px;
  box-shadow: 7px 7px 0px #000000;
}

.home {
  background-color: #c49aff;
}

.memory {
  background-color: #d7ffb1;
}

.scramble {
  background-color: #70ccff;
}

.response {
  background-color: #fe90e7;
}

.auth {
  background-color: #ff9a9a;
}

nav a {
  font-size: 18px;
  color: black;
  text-decoration: none;
}

.nav-block:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .nav-block {
    width: 300px;
    height: 48px;
  }
}
